.quiver-delivery-badge-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: medium;
/*   padding-top: 8px; */
/*   gap: 5px; */
/*   border: 1px solid #b6b6b680; */
  border-radius: 4px;
/*   padding: 6px; */
  width: 100%; 
}

.quiver-delivery-badge-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.quiver-delivery-badge-primary-text {
  margin: 0;
  margin-top: 0px;
  font-size: small;
}

.quiver-delivery-badge-secondary-text {
  margin: 0;
  font-size: small;
}

.quiver-delivery-badge-logo {
  height: 24px;
  width: auto;
  border-radius: 6px;
  margin-left: 6px;
}
