{% comment %}
  Renders the Quiver delivery badge for a card-product

  Accepts:
  - product: {Object} Card Product Liquid object (optional)

  Usage:
  On line 200 of 'card_product.liquid' copy and paste the line below:
  COPY THIS LINE: {% render 'quiver-delivery-badge', product: card_product %}

  On line 21 of 'card_product.liquid' copy and paste the line below:
  COPY THIS LINE: {{ 'quiver-delivery-badge.css' | asset_url | stylesheet_tag }}
{% endcomment %}

{%- if product.tags contains 'Quiver' -%}
  <quiver-delivery-badge class="quiver-delivery-badge-wrapper">
    <div class="quiver-delivery-badge-text-container">
      <p class="quiver-delivery-badge-primary-text">Same Day Delivery available with</p>
    </div>
    <img
      class="quiver-delivery-badge-logo"
      src="{{ 'quiver-logo.png' | asset_url }}"
      loading="lazy"
      alt="Quiver logo"
      height="20"
      width="auto"
    >
  </quiver-delivery-badge>
{% endif -%}
